/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* main styles */

body {
    font-family: 'Lato', sans-serif;
}

.btn {
    display: inline-block;
    padding: 0 10px;
    background: #E65E43;
    border: 0;
    font: 14px/38px 'Lato', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    transition: all 400ms;
    color: #fff;
    cursor: pointer;
}
    .btn:hover {
        background: #E67863;
        transition: all 400ms;
    }

/* header style */

body > header {
    min-height: 100vh;
}
    header .banner {
        background:#999;
    }
        header .banner nav {
            position: fixed;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            top: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.3);
            text-align: right;
        }
            header .banner nav a {
                display: inline-block;
                vertical-align: top; 
                padding: 0 10px;
                color: #fff;
                font: 14px/34px 'Lato', sans-serif;
                font-weight: 700;
                text-decoration: none;
            }
        header .banner .booking-at-baner {
            display: flex;
            height: 100vh;
            padding-top: 34px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
            header .banner .booking-at-baner h1 {
                font: 32px/56px 'Lato', sans-serif;
                color: #fff;
            }
            header .banner .booking-at-baner h2 {
                font: 24px/56px 'Lato', sans-serif;
                color: #fff;
            }
            header .banner .booking-at-baner form {
                display: flex;
                flex-direction: row;
                align-content: space-between;
                padding: 10px 6px;
                background: rgba(0, 0, 0, .4);
            }
                header .banner .booking-at-baner form fieldset {
                    background-color: #fff;
                    margin: 0 6px;
                    font: 14px/38px 'Lato', sans-serif;
                }
                    header .banner .booking-at-baner form fieldset span {
                        display: inline-block;
                        font: 14px/38px 'Lato', sans-serif;
                        padding: 0 12px;
                    }
/* navbar */
nav.usability-links {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
    nav.usability-links a {
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0 20px 0 0;
        font: 14px/40px 'Lato', sans-serif;
        color: #555;
        text-decoration: none;
    }
        nav.usability-links a:hover::before  {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            position: absolute;
            top: 80%;
            left: 0;
            right: 0;
            background-color: #E65E43;            
        }

.us-apartments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 0;
}
    .us-apartments h1 {
        display: block;
        padding: 20px 0;
        text-align: center;
        font: 28px/40px 'Lato', sans-serif;
        color: #E65E43;
        text-transform: uppercase;
        font-weight: 700;
    }
    .us-apartments .container {
        width: 1200px;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
        .us-apartments .container .apartments-item {
            display: flex;
            width: 50%;
            flex-direction: column;
            margin-bottom: 20px;
            text-decoration: none;
            text-align: center;
        }
            .us-apartments .apartments-item h2 {
                display: flex;
                justify-content: center;
                margin: 0 0 10px;
                font: 16px/30px 'Lato', sans-serif;
                color: #E65E43;
                text-transform: uppercase;
                text-decoration: none;
                font-weight: 700;
            }
            .us-apartments .apartments-item img {
                display: flex;
                margin-bottom: 20px;
                min-width: 100%;
                height: auto;
            }
            .us-apartments .apartments-item ul {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                text-align: left;
            }
                .us-apartments .apartments-item ul li {
                    display: flex;
                    margin-bottom: 12px;
                    color: #555;
                }
                    .us-apartments .apartments-item ul li::before {
                        content: '\f45c';
                        display: inline-block;
                        vertical-align: top;
                        margin: 0 10px 0 0;
                        font: 1em/100% 'Font Awesome 5 Solid';
                    }